<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="mb-3">
        <input type="text" class="form-control" id="search-bar" placeholder="Search...">
      </div>

      <div id="api-response-cards" class="card-columns">
        <!-- Cards from API response will be generated here -->
      </div>
    </div>

    <div class="col-md-4">
      <h3>{{listName}}</h3>
      <ul class="list-group">
        {{#each items}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{this.name}}
          <div class="input-group input-group-sm">
            <button class="btn btn-outline-secondary" type="button" onclick="decreaseQuantity('{{this.id}}')">-</button>
            <input type="text" class="form-control" value="{{this.quantity}}" id="quantity-{{this.id}}" readonly>
            <button class="btn btn-outline-secondary" type="button" onclick="increaseQuantity('{{this.id}}')">+</button>
            <button class="btn btn-danger" type="button" onclick="removeItem('{{this.id}}')">Remove</button>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script>
  document.getElementById('search-bar').addEventListener('input', function() {
    // API search logic
  });

  function decreaseQuantity(itemId) {
    // Function to decrease quantity
  }

  function increaseQuantity(itemId) {
    // Function to increase quantity
  }

  function removeItem(itemId) {
    // Function to remove item
  }
</script>